.container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    box-sizing: border-box;
    border-color: var(--board-border-color);
}

.container>p {
    user-select: none;
}

.fixed {
    color: var(--board-text-fix);
}

.nofixed {
    color: var(--board-text-color);
}

.bggrey {
    background-color: var(--board-bg-dark);
}

.bgwhite {
    background-color: var(--board-bg-light);
}

.selected {
    background-color: var(--cell-selected-bg);
    transition: all .5s;
    transform: scale(1.1);
    border-radius: 4px;
}