.container {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
    box-sizing: border-box;
    border-color: #c3cbf4;
}

.container>p {
    color: #3f4c91;
}

.bggrey {
    background-color: rgb(221, 242, 255);
}

.bgwhite {
    background-color: rgb(255, 255, 255);
}

.selected {
    background-color: rgb(106, 210, 210);
    transition: all .5s;
    transform: scale(1.1);
    border-radius: 4px;
}