@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

:root {
    --board-border-color: #c3cbf4;
    --board-bg-light: rgb(255, 255, 255);
    --board-bg-dark: rgb(221, 242, 255);
    --board-text-color: #2643d4;
    --board-text-fix: rgb(230, 93, 48);
    --cell-selected-bg: rgb(106, 210, 210);
    --board-border-radius: 4px
}